<div class="modal-header">
  <h4 class="modal-title">
    <span *ngIf="editPerson">Rediger {{editPerson.personID}} ({{editPerson.fornavn}} {{editPerson.etternavn}}) </span>
    <span *ngIf="!editPerson">Opprett person</span>
  </h4>
  <button type="button" class="close" aria-label="Lukk" (click)="_activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #addCompetitionParticipantForm="ngForm" class="">
    <div class="form-group">
        
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold"></label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold" for="fornavn">Fornavn</label>
            <input [(ngModel)]="personModel.fornavn" (change)="findDuplicates()" type="text" required class="form-control" name="fornavn" placeholder="">
          </div>

          <div class="form-group col">
            <label class="font-weight-bold" for="etternavn">Etternavn</label>
            <input [(ngModel)]="personModel.etternavn" (change)="findDuplicates()" type="text" required class="form-control" name="etternavn" placeholder="">
          </div>
        </div>
        <div class="row" *ngIf="!editPerson && duplicates && duplicates?.length > 0">
          <div class="form-group col">
            <label class="font-weight-bold">Duplikater funnet:</label>
            <div class="row text-muted">
              <ul>
                <li *ngFor="let duplicate of duplicates">{{duplicate.fornavn}} {{duplicate.etternavn}} ({{duplicate.fodselsar}})</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold" for="kjonn">Kjønn</label>
            <div class="type-select" ngbDropdown>
              <button class="btn type-select__toggle" type="button" ngbDropdownToggle>
                {{ getSelectedGenderName() }}
              </button>
              <div ngbDropdownMenu class="type-select__menu">
                <button
                  *ngFor="let kjonn of genders"
                  ngbDropdownItem
                  type="button"
                  (click)="selectGender(kjonn?.id)">
                  {{kjonn?.navn}}
                </button>
              </div>

              <select [(ngModel)]="personModel.kjonn" class="form-control type-select__native" required name="kjonn">
                <option *ngFor="let kjonn of genders" [ngValue]="kjonn?.id">{{kjonn?.navn}}</option>
              </select>
            </div>
          </div>

          <div class="form-group col">
            <label class="font-weight-bold" for="fodselsar">Fødselsår (4 siffer)</label>
            <input [(ngModel)]="personModel.fodselsar" type="number" required class="form-control" name="fodselsar" placeholder="">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold" for="epost">E-post</label>
            <input [(ngModel)]="personModel.epost" type="text" ng-required="!editPerson || editPerson.personID" class="form-control" name="epost" placeholder="">
          </div>

          <div class="form-group col">
            <label class="font-weight-bold" for="telefon">Telefon</label>
            <input [(ngModel)]="personModel.telefon" type="number" class="form-control" name="telefon" placeholder="">
          </div>
          
        </div>
        
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" [disabled]="!addCompetitionParticipantForm.valid || hasErrors()" (click)="saveCompetitionParticipant()">Lagre</button>
  <button type="button" class="btn btn-secondary" (click)="_activeModal.close('Close click')">Lukk</button>
</div>

<div *ngIf="hasErrors()" class="alert alert-danger">
  <div [innerHtml]="errorMessage">
</div>
