<div class="card">
  <div class="card-block">
    <h4 class="card-title">Opprett konkurranseklasse</h4>

    <form #createCompetitionClassForm="ngForm" class="">
      <div class="form-group">
        <label class="font-weight-bold">Velg konkurransetype</label>
        <div class="row">
          <div class="col">
            <div class="type-select" ngbDropdown>
              <button class="btn type-select__toggle" type="button" ngbDropdownToggle>
                {{ getSelectedTypeName() }}
              </button>
              <div ngbDropdownMenu class="type-select__menu">
                <button ngbDropdownItem type="button" (click)="selectType(null)">Velg konkurransetype</button>
                <button
                  *ngFor="let t of competitionTypes"
                  ngbDropdownItem
                  type="button"
                  (click)="selectType(t.typeID)">
                  {{t?.navn}}
                </button>
              </div>

              <select [(ngModel)]="model.typeID" class="form-control type-select__native" name="typeID" (change)="updateClassID()">
                <option [ngValue]="null">Velg konkurransetype</option>
                <option *ngFor="let t of competitionTypes" [ngValue]="t.typeID">
                  {{t?.navn}}
                </option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="form-group col">
            <label class="font-weight-bold" for="Tittel">Tittel</label>
            <input [(ngModel)]="model.navn" type="text" class="form-control" name="tittel" placeholder="">
          </div>
          <div class="form-group col">
            <label class="font-weight-bold">Kjønn</label>
            <div class="type-select" ngbDropdown>
              <button class="btn type-select__toggle" type="button" ngbDropdownToggle>
                {{ getSelectedGenderName() }}
              </button>
              <div ngbDropdownMenu class="type-select__menu">
                <button
                  *ngFor="let kjonn of genders"
                  ngbDropdownItem
                  type="button"
                  (click)="selectGender(kjonn?.id)">
                  {{kjonn?.navn}}
                </button>
              </div>

              <select [(ngModel)]="model.kjonn" class="form-control type-select__native" required name="kjonn" (change)="updateClassID()">
                <option *ngFor="let kjonn of genders" [ngValue]="kjonn?.id">{{kjonn?.navn}}</option>
              </select>
            </div>
          </div>
        </div>

        <label class="font-weight-bold">Alder</label>
        <div class="row">
          <div class="form-group col">
            <label class="sr-only" for="minAlder">Alder (min)</label>
            <div class="input-group">
              <div class="input-group-addon">Fra</div>
              <input [(ngModel)]="model.minAlder" (change)="updateClassID()" required type="number" class="form-control" name="minAlder" placeholder="">
              <div class="input-group-addon">år</div>
            </div>
          </div>
          <div class="form-group col">
            <label class="sr-only" for="maxAlder">Alder (max)</label>
            <div class="input-group">
              <div class="input-group-addon">Til og med</div>
              <input [(ngModel)]="model.maxAlder" (change)="updateClassID()" required type="number" class="form-control" name="maxAlder" placeholder="">
              <div class="input-group-addon">år</div>
            </div>
          </div>
        </div>

        <label class="font-weight-bold">Startnummer</label>
        <div class="row">
          <div class="form-group col">
            <label class="sr-only" for="forsteStartnummer">Første startnummer</label>
            <div class="input-group">
              <div class="input-group-addon">Fra</div>
              <input [(ngModel)]="model.forsteStartnummer" type="number" required class="form-control" name="forsteStartnummer" placeholder="">
            </div>
          </div>
          <div class="form-group col">
            <label class="sr-only" for="sisteStartnummer">Siste startnummer</label>
            <div class="input-group">
              <div class="input-group-addon">Til og med</div>
              <input [(ngModel)]="model.sisteStartnummer" type="number" required class="form-control" name="sisteStartnummer" placeholder="">
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div class="row">
              <div class="col">
                <label class="font-weight-bold" for="distanseKm">Distanse</label>
                <div class="input-group">
                  <input [(ngModel)]="model.distanseKm" (change)="updateClassID()" type="number" required class="form-control" name="distanseKm" placeholder="">
                  <div class="input-group-addon">km</div>
                </div>
              </div>
              <div class="col">
                <label class="font-weight-bold">Med tidtaking</label>
                <div>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="model.medTidtaking" name="medTidtaking">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"></span>
                </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <label class="font-weight-bold" for="klasseID">KlasseID</label>
            <input [(ngModel)]="model.klasseID" type="text" class="form-control" disabled name="klasseID">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!createCompetitionClassForm.valid || model.kjonn === '0'" (click)="createCompetitionClass()">Opprett konkurranseklasse</button>

    </form>

    <div class="classes-table">
      <div class="row font-weight-bold mt-5 classes-header">
        <div class="col">Tittel</div>
        <div class="col">TypeID</div>
        <div class="col">Min alder</div>
        <div class="col">Max alder </div>
        <div class="col">Kjønn</div>
        <div class="col">Første startnummer</div>
        <div class="col">Siste startnummer</div>
        <div class="col">Distanse</div>
        <div class="col">Med tidtaking</div>
        <div class="col"></div>
      </div>
      <div
        class="row classes-row"
        *ngFor="let class of filterByTypeID(competitionClasses); let i = index; let isEven = even;"
        [class.evenRow]="isEven">
        <div class="col classes-title" data-label="Tittel">{{class?.navn}}</div>
        <div class="col" data-label="TypeID"><span *ngIf="class.typeID != '0'">{{class.typeID}}</span></div>
        <div class="col" data-label="Min alder">{{class?.minAlder}}</div>
        <div class="col" data-label="Max alder">{{class?.maxAlder}}</div>
        <div class="col" data-label="Kjønn">{{class?.kjonn}}</div>
        <div class="col" data-label="Første startnummer">{{class?.forsteStartnummer}}</div>
        <div class="col" data-label="Siste startnummer">{{class?.sisteStartnummer}}</div>
        <div class="col" data-label="Distanse"><span *ngIf="class.distanseKm">{{class?.distanseKm}} km</span></div>
        <div class="col classes-checkbox" data-label="Med tidtaking">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="medTidtaking" [checked]="class.medTidtaking">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"></span>
          </label>
        </div>
        <div class="col classes-action" data-label="Rediger">
          <button type="submit" class="btn btn-primary btn-sm" (click)="openEditCompetitionClassModal(class)" name="editBtn">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
