<div class="modal-header">
  <h4 class="modal-title">
    Rediger deltaker 
    <small class="text-muted">{{participant?.person?.fornavn}} {{participant?.person?.etternavn}} ({{participant?.person?.fodselsar}})</small>
  </h4>
  <button type="button" class="close" aria-label="Lukk" (click)="_activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-muted float-right">ID: {{participant?.person?.personID}}</div>
  <form #editCompetitionParticipantForm="ngForm" class="">
    <div class="form-group">
        <!--<label class="font-weight-bold">Velg konkurransetype</label>
        <div class="row">
          <div class="col">
            <select [(ngModel)]="competitionClass.typeID" class="form-control" name="typeID" disabled>
              <option *ngFor="let t of competitionTypes" [ngValue]="t.typeID">
                {{t?.navn}}
              </option>
            </select>
          </div>
        </div>-->
        
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold"></label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold" for="startnummer">Startnummer</label>
            <input [(ngModel)]="participant.startNummer" type="number" class="form-control" name="startnummer" placeholder="">
          </div>

          <div class="col">
            <label class="font-weight-bold">Konkurranseklasse</label>
            <select [(ngModel)]="participant.klasseID" class="form-control" name="klasseID">
              <option *ngFor="let c of matchingCompetitionClasses" [ngValue]="c.klasseID">
                {{c?.navn}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label class="font-weight-bold" for="starttid">Starttid</label>
            <input [(ngModel)]="participant.startTid" type="number" class="form-control" name="starttid" placeholder="">
          </div>

          <div class="form-group col">
            <label class="font-weight-bold" for="sluttid">Sluttid</label>
            <input [(ngModel)]="participant.sluttTid" type="number" class="form-control" name="sluttid" placeholder="">
          </div>

          <div class="form-group col">
            <label class="font-weight-bold" for="tidsforbruk">Tidsforbruk</label>
            <input [(ngModel)]="participant.tidsforbruk" disabled type="number" class="form-control" name="tidsforbruk" placeholder="">
          </div>
        </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="deleteCompetitionParticipant()">Slett</button>
  <button type="submit" class="btn btn-primary" [disabled]="!editCompetitionParticipantForm.valid" (click)="saveCompetitionParticipant()">Lagre</button>
  <button type="button" class="btn btn-secondary" (click)="_activeModal.close('Close click')">Lukk</button>
</div>