.table {
    td {
        padding: 0.35rem;
    }
}
.filter {
    background-color: #f9ecec;
}

.form-check-inline {
    margin-left: 0;
}

.list-group-item {
    padding: 0.2rem 1.25rem;
}

.input-group-btn:not(:first-child) > .btn {
    margin-right: 10px;
}

.status {
    font-size: 12pt;
    font-weight: bold;
    color: #3388bd;
}

.related-persons-list {
    display: inline;
    .list-inline-item:after {
        content: ', ';
    }
    .list-inline-item:last-child:after {
        content: '';
    }
}
input[type="checkbox"] {
    width: 20px; 
    height: 20px;
    vertical-align: middle;
}

.big-checkbox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    background-color: antiquewhite;
    font-weight: bold;

    input[type="checkbox"] {
        width: 20px; 
        height: 20px;
        vertical-align: middle;
    }
}