.filter {
    background-color: #f9ecec;
}

.form-check-inline {
    margin-left: 0;
}

.list-group-item {
    padding: 0.2rem 1.25rem;
}

.input-group-btn:not(:first-child) > .btn {
    margin-right: 10px;
}

.status {
    font-size: 12pt;
    font-weight: bold;
    color: #3388bd;
}

.label {
    color: white;
    padding: .2em .6em .2em;
    font-size: 75%;
}

.label-success {
    background-color: #5cb85c;
}
