<div class="card">
  <div class="card-block">
    <button type="submit" class="btn btn-primary float-right" (click)="openEditResultsModal()">Registrer resultater...</button>
    <h4 class="card-title">{{competition?.navn}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{competition?.dato | amDateFormat:'DD.MM.YYYY'}} kl. {{competition?.dato | amDateFormat:'HH:mm'}}</h6>

    <div class="mt-3">
      <ng-template #searchResultFormatter let-r="result" let-t="term">
        {{ r?.fornavn }} {{r?.etternavn}} ({{r?.fodselsar}}) <small class="text-muted">ID={{r.personID}}</small>
      </ng-template>
      <div class="input-group w-75">
        <div class="input-group-addon hidden-sm-down">Finn person</div>
        <input id="typeahead-search" type="text" class="form-control" 
          [(ngModel)]="searchModel" 
          [ngbTypeahead]="search" 
          [resultTemplate]="searchResultFormatter" 
          [inputFormatter]="searchFormatter" 
          (selectItem)="onPersonSelected($event)"
          placeholder="Søk etter fornavn eller etternavn" />
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="searchModel = ''"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" (click)="openAddPersonModal()">Opprett person...</button>
        </span>
      </div>
      
    </div>

    
    <div class="mt-3" *ngIf="matchingCompetitionClasses">
      <label class="font-weight-bold" for="radio1">Tilgjengelige klasser</label>

      <div>
        <label class="custom-control custom-radio" *ngFor="let compClass of matchingCompetitionClasses">
          <input id="radio1" name="competitionClassesRadiogroup" type="radio" class="custom-control-input" 
            [disabled]="!canRegister" 
            [checked]="selectedCompetitionClass.klasseID == compClass.klasseID"
            [value]="compClass.klasseID"
            (change)="onCompetitionClassChange(compClass)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">{{(compClass?.navn) ? compClass?.navn : compClass?.klasseID}}</span>
        </label>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!selectedCompetitionClass.klasseID || !canRegister" (click)="registerForCompetition()">Meld på</button>
      <span *ngIf="!selectedCompetitionClass.klasseID || !canRegister" class="text-danger">{{errorMessage}}</span>
    </div>

    <div class="deltakere mt-3">
      <div class="filter row m-1">
        
        <div class="col-12">
          <label class="font-weight-bold">Filtrer på kjønn:</label>
          <div>
            <div class="form-check form-check-inline col-lg-3 col-md-4 col-sm-6" *ngFor="let g of genders">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" 
                [value]="g.id"
                (change)="onFilterChange($event, 'gender', g.id)"> 
                {{g?.navn}}
              </label>
            </div>
          </div>
        </div>

        <div class="col-12">
          <label class="font-weight-bold">Filtrer på konkurranseklasse:</label>
          <div>
            <div class="form-check form-check-inline col-lg-3 col-md-4 col-sm-6" *ngFor="let compClass of competitionClasses">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" 
                [value]="compClass.klasseID"
                (change)="onFilterChange($event, 'klasseID', compClass.klasseID)"> 
                {{(compClass?.navn) ? compClass?.navn : compClass?.klasseID}}
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Startnummer</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Kjønn</th>
            <th>Klasse</th>
            <th *ngIf="isDone">Tid<th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let deltaker of filteredParticpants">
            <th scope="row">{{deltaker?.startNummer}}</th>
            <td>{{deltaker?.person?.fornavn}}</td>
            <td>{{deltaker?.person?.etternavn}}</td>
            <td>{{deltaker?.person?.kjonn}}</td>
            <td>{{getKonkurranseKlasseNavn(deltaker?.klasseID)}}</td>
            <td *ngIf="isDone">{{deltaker?.tidsforbruk}}</td>
            <td>
              <div class="col"><button type="submit" class="btn btn-primary btn-sm" (click)="openEditCompetitionParticipant(deltaker)" name="editBtn">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              </div> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>