<div class="card">
  <div class="card-block">
    <button *ngIf="isAdmin()" type="submit" class="btn btn-primary float-right" (click)="openEditResultsModal()">
      <i class="fa fa-clock-o" aria-hidden="true"></i> Resultater...
    </button>
    <button *ngIf="isAdmin()" type="submit" class="btn btn-primary float-right mr-2" (click)="openEditCompetitionModal()">
      <i class="fa fa-edit" aria-hidden="true"></i> Rediger...
    </button>
    <h4 class="card-title">{{competition?.navn}} <span class="status">{{compStatus?.displayText}}</span></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{competition?.dato | amDateFormat:'DD.MM.YYYY'}} kl. {{competition?.dato | amDateFormat:'HH:mm'}}</h6>


    <div *ngIf="isLoggedIn()" class="text-warning">
      <p *ngIf="isAdmin()">Du er admin og kan melde på alle</p>
      <div *ngIf="!isAdmin()">
        <span>Du har rettigheter til å melde på:</span>
        <ul class="list-inline related-persons-list">
            <li class="list-inline-item" *ngFor="let p of relatedPersons">
                {{ p.fornavn }} {{ p.etternavn }}
            </li>
        </ul>
      </div>
    </div>

    <div class="mt-3" *ngIf="isAdmin() || isActive">
      <ng-template #searchResultFormatter let-r="result" let-t="term">
        {{ r?.fornavn }} {{r?.etternavn}} ({{r?.fodselsar}}) <small class="text-muted">ID={{r.personID}}</small>
      </ng-template>
      <div class="input-group">
        <div class="input-group-addon hidden-sm-down">Finn deltaker</div>
        <input id="typeahead-search" type="text" class="form-control"
          [(ngModel)]="searchModel"
          [ngbTypeahead]="search"
          [resultTemplate]="searchResultFormatter"
          [inputFormatter]="searchFormatter"
          (selectItem)="onPersonSelected($event)"
          placeholder="Søk etter fornavn eller etternavn" />
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="setSelectedPerson(null)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </span>
      </div>
      <div class="float-right mt-2" *ngIf="selectedPerson && (isMe() || isAdmin())">
        <button type="submit" class="btn btn-primary" (click)="openPersonModal(selectedPerson)"><i class="fa fa-pencil" aria-hidden="true"></i> Rediger deltaker...</button>
      </div>
      <div class="float-right mt-2 mr-2">
        <button type="submit" class="btn btn-primary" (click)="openPersonModal(null)"><i class="fa fa-plus" aria-hidden="true"></i> Registrer ny deltaker...</button>
      </div>
      
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h4>{{countRegistered()}} påmeldte <small *ngIf="isAdmin()">({{countAttending()}} tilstede / {{countPaid()}} har betalt)</small></h4>
      </div>
      <div class="col-sm-6" *ngIf="isAdmin()">
        <h5>{{countFiltered()}} filtrerte <small>({{countFilteredAttending()}} tilstede / {{countFilteredPaid()}} har betalt)</small></h5>
      </div>
    </div>
    <div *ngIf="!isAdmin() && !isMe() && !!selectedPerson" class="alert alert-danger">
      Du må logge inn for å kunne melde deg på. <a class="nav-link" routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i> Logg inn her</a>
    </div>
    
    <div *ngIf="isAdmin() || (isActive && isMe())">
      <div class="mt-3" *ngIf="matchingCompetitionClasses">
        <label class="font-weight-bold" for="radio1">Tilgjengelige klasser</label>

        <div>
          <label class="custom-control custom-radio" *ngFor="let compClass of matchingCompetitionClasses">
            <input id="radio1" name="competitionClassesRadiogroup" type="radio" class="custom-control-input" 
              [disabled]="!canRegister" 
              [checked]="selectedCompetitionClass.klasseID == compClass.klasseID"
              [value]="compClass.klasseID"
              (change)="onCompetitionClassChange(compClass)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{(compClass?.navn) ? compClass?.navn : compClass?.klasseID}}</span>
          </label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!selectedCompetitionClass.klasseID || !canRegister" (click)="registerForCompetition()">Meld på</button>
        <span *ngIf="!selectedCompetitionClass.klasseID || !canRegister" class="text-danger">{{errorMessage}}</span>
      </div>
    </div>

    <div class="mt-3" *ngIf="lastAddedPerson">
        <div class="alert alert-success">
          Sist lagt til: {{lastAddedPerson?.fornavn}} {{lastAddedPerson?.etternavn}}
          <h5>Startnummer: {{lastAddedStartNumber}}</h5>
          <span *ngIf="competition.typeID == 'poengrenn'">Du ble samtidig automatisk påmeldt de andre rennene i '{{competition?.navn}}'</span>
  
          <div *ngIf="lastAddedPersonMessage">
            <span class="font-weight-bold text-danger" [innerHtml]="lastAddedPersonMessage"></span>
          </div>
        </div>
      </div>
      <div class="mt-3" *ngIf="updateMessage">
        <div class="alert alert-success">
            <span [innerHtml]="updateMessage"></span>
          </div>
      </div>

    <div class="deltakere mt-3">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="orderParticipantsBy('startnummer')" class="clickable">#</th>
            <th (click)="orderParticipantsBy('fornavn')" class="clickable">Fornavn</th>
            <th (click)="orderParticipantsBy('etternavn')" class="clickable">Etternavn</th>
            <th (click)="orderParticipantsBy('gender')" class="clickable">Kjønn</th>
            <th (click)="orderParticipantsBy('klasseID')" class="clickable">Klasse</th>
            <th (click)="orderParticipantsBy('tidsforbruk')" class="clickable">Tid</th>
            <th *ngIf="isAdmin()" (click)="orderParticipantsBy('tilstede')" class="clickable">Tilstede</th>
            <th *ngIf="isAdmin()" (click)="orderParticipantsBy('betalt')" class="clickable">Bet.</th>
            <th *ngIf="isAdmin()"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" [ngModel]="filter.startNumber" (change)="onFilterStartNumber($event)" [ngClass]="{'text-alert': filter.startNumber}" class="form-control form-control-sm" style="width: 60px" name="filterStartNumber" width="10"/></td>
            <td><input type="text" [ngModel]="filter.firstname" (change)="onFilterFirstname($event)" class="form-control form-control-sm" name="filterFirstname"/></td>
            <td><input type="text" [ngModel]="filter.lastname" (change)="onFilterLastname($event)" class="form-control form-control-sm" name="filterLastname"/></td>
            <td><!-- Filter gender -->
              <button (click)="showGenderFilter = !showGenderFilter" class="btn btn-secondary btn-sm" type="button" aria-haspopup="true" aria-expanded="false">
                <span [ngClass]="{'text-alert': filter.genders.length > 0}">{{(filter.genders.length == 0) ? 'Velg' : filter.genders}}</span>
                <i class="fa" [ngClass]="{'fa-angle-down': !showGenderFilter, 'fa-angle-up': showGenderFilter}" aria-hidden="true"></i>
              </button>
              <div class="card" style="position: absolute;" *ngIf="showGenderFilter">
                <ul class="list-group list-group-flush" *ngFor="let g of genders">
                  <li class="list-group-item">
                    <input class="" type="checkbox" id="checkboxGender" 
                        [value]="g.id"
                        [checked]="filter.genders.indexOf(g.id) > -1"
                        (change)="onFilterChange($event, 'gender', g.id)"> 
                    <span class="ml-1">{{g?.navn}}</span>
                  </li>
                </ul>
              </div>
            </td>
            <td><!-- Filter klasseID -->
              <button (click)="showClassIDFilter = !showClassIDFilter" class="btn btn-secondary btn-sm" type="button" aria-haspopup="true" aria-expanded="false">
                <span [ngClass]="{'text-alert': filter.competitionClasses.length > 0}">{{(filter.competitionClasses.length == 0) ? 'Velg' : ((filter.competitionClasses.length == 1) ? filter.competitionClasses[0] : 'Flere valg')}}</span>
                <i class="fa" [ngClass]="{'fa-angle-down': !showClassIDFilter, 'fa-angle-up': showClassIDFilter}" aria-hidden="true"></i>
              </button>
              <div class="card" style="position: absolute;" *ngIf="showClassIDFilter">
                <ul class="list-group list-group-flush" *ngFor="let compClass of competitionClasses">
                  <li class="list-group-item">
                    <input class="" type="checkbox" id="checkboxKlasseID" 
                          [value]="compClass.klasseID"
                          [checked]="filter.competitionClasses.indexOf(compClass.klasseID) > -1"
                          (change)="onFilterChange($event, 'klasseID', compClass.klasseID)"> 
                    <span class="ml-1">{{(compClass?.navn) ? compClass?.navn : compClass?.klasseID}}</span>
                  </li>
                </ul>
              </div>

            </td>
            <td></td>
            <td *ngIf="isAdmin()">
              <!-- Tilstede -->
            </td>
            <td *ngIf="isAdmin()">
              <!-- Betalt -->
            </td>
            <td *ngIf="isAdmin()"></td>
            <td></td>
          </tr>
          <tr *ngFor="let deltaker of filteredParticpants">
            <th scope="row">{{deltaker?.startNummer}}</th>
            <td>{{deltaker?.person?.fornavn}}</td>
            <td>{{deltaker?.person?.etternavn}}</td>
            <td>{{deltaker?.person?.kjonn}}</td>
            <td>{{getKonkurranseKlasseNavn(deltaker?.klasseID)}}</td>
            <td>{{deltaker?.tidsforbruk}}</td>
            <td *ngIf="isAdmin()">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="deltaker?.tilstede" (change)="updateTilstede(deltaker)"/>
              </label>
            </td>
            <td *ngIf="isAdmin()">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [checked]="deltaker?.betalt" (change)="updateBetalt(deltaker)"/>
              </label>
            </td>
            <td *ngIf="isAdmin()">
                <button type="button" class="btn  btn-sm" placement="bottom" ngbTooltip="{{deltaker?.betalingsNotat}}">
                    <i class="fa fa-commenting-o" [ngClass]="{'fa-commenting-o': deltaker?.betalingsNotat, 'fa-comment-o text-disabled': !deltaker?.betalingsNotat}" aria-hidden="true" title="{{deltaker?.betalingsNotat}}"></i>
                </button>
            </td>
            <td *ngIf="isAdmin()">
              <div class="col"><button type="submit" class="btn btn-primary btn-sm" (click)="openEditCompetitionParticipant(deltaker)" name="editBtn">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              </div> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>