.filter {
    background-color: #f9ecec;
}

.form-check-inline {
    margin-left: 0;
}

.input-group-btn:not(:first-child) > .btn {
    margin-right: 10px;
}

.status {
    font-size: 12pt;
    font-weight: bold;
    color: #3388bd;
}

.related-persons-list {
    display: inline;
    .list-inline-item:after {
        content: ', ';
    }
    .list-inline-item:last-child:after {
        content: '';
    }
}
