<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8c0a23b7-6d91-4f24-8d7e-5db06f26ffaa/resourceGroups/flatas-test-rs/providers/Microsoft.Web/sites/flatas-api-test</ResourceId>
    <ResourceGroup>flatas-test-rs</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flatas-api-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flatas-api-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>flatas-api-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$flatas-api-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PoengrennContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:flatas-test.database.windows.net,1433;Initial Catalog=flatas-test;User ID=flatas-ski@flatas-test.database.windows.net;Password=Klabbe333" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Poengrenn.DAL.Models.PoengrennContext, Poengrenn.DAL" MigrationConfiguration="Poengrenn.DAL.Migrations.Configuration, Poengrenn.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PoengrennContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:flatas-test.database.windows.net,1433;Initial Catalog=flatas-test;User ID=flatas-ski@flatas-test.database.windows.net;Password=Klabbe333</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>