<header class="site-header">
  <div class="site-header__inner">
    <a class="brand" routerLink="/" (click)="closeMenu()">
      <img class="brand__logo" src="assets/logo_header.png" alt="Flatås Langrenn">
      <span class="brand__text">
        <span class="brand__title">Flatås</span>
        <span class="brand__subtitle">Langrenn</span>
      </span>
    </a>

    <button
      class="nav-toggle"
      type="button"
      aria-label="Toggle menu"
      [attr.aria-expanded]="menuOpen"
      (click)="toggleMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="site-nav" [class.is-open]="menuOpen">
      <div class="site-nav__group">
        <a routerLink="/konkurranser" routerLinkActive="is-active" (click)="closeMenu()">Konkurranser</a>
        <a *ngIf="isAdmin()" routerLink="/konkurranseklasser" routerLinkActive="is-active" (click)="closeMenu()">Konkurranseklasser</a>
      </div>
      <div class="site-nav__group site-nav__auth">
        <a *ngIf="!isAuth()" routerLink="/login" routerLinkActive="is-active" (click)="closeMenu()">
          <i class="fa fa-user" aria-hidden="true"></i> Logg inn
        </a>
        <a *ngIf="!isAuth()" routerLink="/adminlogin" routerLinkActive="is-active" (click)="closeMenu()">
          <i class="fa fa-lock" aria-hidden="true"></i> Admin
        </a>
        <a *ngIf="isAuth()" routerLink="/logout" routerLinkActive="is-active" (click)="closeMenu()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logg ut {{(loggedInUser?.rolle === 'admin') ? loggedInUser?.brukernavn : ''}}
        </a>
      </div>
    </nav>
  </div>
</header>
