/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: ("Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif),
  $primary: #cf142b,
  $body-bg: #f2f2f2,
  $body-color: #535353,
  $enable-rounded: false
);

.clickable { 
    cursor: pointer;
}
.text-disabled {
  color: #CCC;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}


/* You can add global styles to this file, and also import other style files */
